apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: litellm-secrets
  namespace: solace-agent-mesh
stringData:
  AICORE_AUTH_URL: https://00000000000.authentication.eu10.hana.ondemand.com/oauth/token # see ai-core service key
  AICORE_CLIENT_ID: # see ai-core service key
  AICORE_CLIENT_SECRET: # see ai-core service key
  AICORE_RESOURCE_GROUP: default
  AICORE_BASE_URL: https://api.ai.prod.eu-central-1.aws.ml.hana.ondemand.com/v2
  LITELLM_MASTER_KEY: 0000000000 # random UUID as APIKey for user authentication
